.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*font-size: 20px;*/
    /*font-weight: 500;*/
    /*background-color:  #fafafa;*/
    /*color: #fafafa;*/
    /*min-height: 40px; */
    text-align: center;
    /*padding: 0 10px 0 10px;*/ /* padding on the footer as a whole */
    z-index: 1;
}

.footer > .footer-slot > .placeholder { outline: 1px dotted; padding-left: 16px; padding-right: 16px; margin-top: 12px; display:none; }
.anvil-highlight .footer > .footer-slot > .placeholder { display:block; }

.content{
    /*  adjusted for the footer  - adds some extra scroll in beginning */
    margin-bottom: 80px; /* find another way to keep the chat above footer */
}

.footer a, .footer a.anvil-component {
    /*padding: 5px;*/
    /*   margin: 8px 0 0; */
    border-radius: 20px;
}
footer a, .footer .anvil-component {
    display: block;
    /*color: #fafafa;*/
    /*line-height: 30px;*/
    min-width: 30px;
    /*min-height: 30px;*/
    margin: 0 0;
}
.footer a:hover, .footer a:active {
    color: #eee; text-decoration: none;
    background-color: %color:Primary 700%;
}
.footer a .link-text {
    padding: 0 4px;
}

/* Chat Bubbles */
.anvil-role-message, .anvil-role-bot-message {
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}

/* Flag Button */
.anvil-role-flag-button .btn {
    padding: 0px 10px 0px 0px;
}

/* Column Panel Chat Bubbles */
/* Padding here as the chat bubbles can't pad themselves */
.anvil-role-cp-chatbubbles {
    padding-left: 10px;
    padding-right: 10px;
}

/* New 'naked' role for text areas, text boxes, drop downs and date pickers */
textarea.anvil-component.anvil-role-naked, input.anvil-component.anvil-role-naked,
.anvil-component.anvil-role-naked select, .anvil-datepicker.anvil-role-naked input,
textarea.anvil-component.anvil-role-naked:hover, textarea.anvil-component.anvil-role-naked:focus,
input.anvil-component.anvil-role-naked:hover, input.anvil-component.anvil-role-naked:focus,
.anvil-component.anvil-role-naked select:hover, .anvil-component.anvil-role-naked select:focus,
.anvil-datepicker.anvil-role-naked input:hover, .anvil-datepicker.anvil-role-naked input:focus {
    background-color: transparent;
    border: none;
    border-radius: none;
    color: %color:On Surface%;
    box-shadow: none;
    outline: none;
    border-bottom: none;
    padding: 9px 2px 9px 2px;
    margin-bottom: 0;
}

/* Custom Flow Panel */
.anvil-role-round-flow-panel {
    padding: 0px 0px 0px 15px; /* top right bottom left */
    border-radius: 5px;
    border: 1px solid #bcbcc3;
}

.anvil-role-solo-flow-panel {
    padding: 0px 0px 0px 15px;
    border-radius: 5px;
    border: 1px solid #bcbcc3;
    margin: 1px 1px 10px 1px !important;
}

.anvil-role-load-message {
    padding: 5px 10px 5px 10px !important;
    margin: 0;
    border-radius: 5px !important;
    font-size: 14px !important;
    background-color: #f0f0f0 !important;
}

.anvil-role-src-link {
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.anvil-role-fixed-repeating-panel {
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    /* Extra padding for scroll bar */
    padding-left: 10px;
    padding-right: 10px;
# }
